<div class="banner">
<div class="top-strip">
   “Mental health shapes every thought, choice, and action—protect it, prioritize it.”
  </div>
  <header class="navbar">
    <div class="logo"><img src="https://res.cloudinary.com/dvfceqgqo/image/upload/c_crop,w_280,h_130/v1757190271/WhatsApp_Image_2025-09-06_at_23.21.28_3382ceb7-removebg-preview_n9qblj.png" alt="" class="img-logo" [routerLink]="['/']"></div>
    <nav>
      <a href="#">Solution</a>
      <a href="#">Who We Help</a>
      <a href="#">Research & Technology</a>
      <a href="#">About Us</a>
    </nav>
    <div class="actions">
      <a href="#">Sign Out</a>
    </div>
  </header>

<div class="condition-page" *ngIf="data">
  <section class="condition-hero">
    <h1>{{ data.title }}</h1>
    <p>{{ data.intro }}</p>
  </section>

  <div class="condition-container">
    <div class="condition-card">
      <h2>What is {{ data.title }}?</h2>
      <p>{{ data.description }}</p>

      <h3>Common Symptoms</h3>
      <ul>
        <li *ngFor="let s of data.symptoms">{{ s }}</li>
      </ul>
    </div>

    <div class="condition-actions">
      <button class="btn-primary"  (click)="takeTest()" >
  Take the Test
</button>

      <span *ngIf="userloggedin">
        <button class="btn-success" [routerLink]="['/test-score',conditionId]">Score</button>
      </span>

      <button class="btn-secondary" routerLink="/answer-urself">Back</button>

     
    </div>
  </div>
</div>
  </div>